{% extends '::base.html.twig' %}

{% block body %}
	
	<h1>Page {{ page.id }}</h1>

	<p>{{ app.request.get('_locale') }}</p>

	<p>{{ page.content|raw }}</p>

	<p><a href="{{path('page_edit',{id: page.id}) }}">Editer cette page</a></p>

{% endblock %}