{% extends '::layout_centered.html.twig' %}



{% block page_content %}

    <div class="create-event"> 
        <div class="fresque"></div>       
        <div class="head-sheet">        
            <h1 class="title-sheet">
                Nouvelle activité !
            </h1>
        </div>

        {# include form block #}
        {% include 'WsEventsBundle:Event:form_template.html.twig' with {'form':form} %}
        {# /include #}
             
        <div class="fresque"></div>      
    </div>
    
{% endblock %}

