parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: cosporturage-sf
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: smtp.we-sport.fr
    mailer_user: contact@we-sport.fr
    mailer_password: justdoit
    locale: fr
    secret: WeSportIsTheEasierWayToDoSport