{% extends is_ajax ? 'WsEventsBundle:Calendar:layout_ajax.html.twig' : 'WsEventsBundle:Calendar:layout.html.twig' %}

{% block calendar_week %}
	<div class="events-weeks {% if search.nbdays > 7 %}minified-events{% endif %}
	 {% if "now"|date('Y-m-d') == search.date|date('Y-m-d') %}current-week{% endif %}" 
	 data-first-day="{{ search.date }}" 
	 data-search-url="{{ search.url }}">
		<table>
			{% for week in weeks %}
			
				{% include 'WsEventsBundle:Calendar:week.html.twig' with {'week':week} %}

			{% endfor %}			
		</table>
		<div class="pullHelper pullNext" id="pullNext">
			<span class="pull-icon pull-icon-arrow ws-icon-arrow-left"></span>
			<span class="pull-icon pull-icon-loader ws-icon-loop"></span>
			<span class="pull"><strong>Tirer</strong><i> pour les jours suivants</i></span>
			<span class="release"><strong>Relacher</strong><i> pour afficher</i></span>
			<span class="loading"><strong>Chargement</strong></span>

		</div>
		<div class="pullHelper pullPrev" id="pullPrev">
			<span class="pull-icon pull-icon-arrow ws-icon-arrow-right"></span>
			<span class="pull-icon pull-icon-loader ws-icon-loop"></span>
			<span class="pull"><strong>Tirer</strong><i> pour les jours précédants</i></span>
			<span class="release"><strong>Relacher</strong><i> pour afficher</i></span>
			<span class="loading">Chargement</span>
	</div>
	</div>
{% endblock %}