{% extends is_ajax ? 'WsEventsBundle:Calendar:layout_ajax.html.twig' : 'WsEventsBundle:Calendar:layout.html.twig' %}

{% block calendar_week %}
	<div class="events-weeks {% if search.nbdays > 7 %}minified-events{% endif %} {% if "now"|date('Y-m-d') == search.date|date('Y-m-d') %}current-week{% endif %}" data-first-day="{{ search.date }}" >
		<table>
			{% for week in weeks %}
			
				{% include 'WsEventsBundle:Calendar:week.html.twig' with {'week':week} %}

			{% endfor %}			
		</table>
	</div>
{% endblock %}