{% extends '::layout_centered.html.twig' %}

{% block page_content %}

    <div class="createAlert">
        <div class="fresque"></div>
        <div class="white-sheet">           
            <div class="head-sheet">        
                <h1 class="title-sheet">
                   Créé une alerte !
                </h1>
            </div>

        <div class="col_large">
            {{ form(form) }}
                   
        </div>

        <div class="col_small">
           
        </div>
        
        <div class="clearfix"></div>
        <div class="fresque"></div>
    
    </div>
    
{% endblock %}

