{% extends '::layout_centered.html.twig' %}

{% block page_content %}

    <div class="indexAlert">
        <div class="fresque"></div>
        <div class="white-sheet">           
            <div class="head-sheet">        
                <h1 class="title-sheet">
                   Mes alertes
                </h1>
            </div>

        <table class="list-table table-striped">

		{% if alerts is not empty %}
			{% for alert in alerts %}
				
				{% include 'WsEventsBundle:Alert:Blocks/row_alert.html.twig' with {'alert':alert} %}	

			{% endfor %}
		{% else %}
			<tr class="row-alert-empty row-alert-pending">
				<td colspan="4">
					<span class="ws-icon ws-icon-pacman"></span>........miam.........miam..........miam..........pas encore d'alertes...............................
				</td>
			</tr>
		{% endif %}

			<tr class="row-bottom">
				<td colspan="4">
					<a class="btn-ws btn-small" href="{{ path('ws_alerts_create') }}">Créer une alerte</a>						
				</td>
			</tr>


         </table>
                   
        <div class="clearfix"></div>
        <div class="fresque"></div>
    
    </div>
    
{% endblock %}

