{% extends '::layout_centered.html.twig' %}

{% block page_content -%}
  
	<div class="head-sheet">
	<h1 class="title-sheet">Contactez nous</h1>


	{% include 'MyContactBundle:Default:form.html.twig' %}

	</div>

{% endblock %}
