{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}

    <h3>HELLO !!!</h3>
    <p>
    Bienvenue sur le tableau de bord !
    </p>

    <p>
        D'abord quelques petites statisques : <a href="{{ path('ws_statistic_update_globals') }}">Mettre à jour</a>
         <ul>
             <li>
                 Nombre d'inscrit : <strong>{{ statistic.getTotalUserRegistered() }}</strong>
             </li>
             <li>
                 Nombre de participations :<strong> {{ statistic.getTotalEventParticipation() }}</strong>
             </li>
             <li>
                 Nombre d'activités :<strong> {{ statistic.getTotalEventCreated() }}</strong>
             </li>
         </ul>
    </p>


{% endblock %}