<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<!-- 
    888       888                 .d8888b.                            888         .d888             
    888   o   888                d88P  Y88b                           888        d88P"              
    888  d8b  888                Y88b.                                888        888                
    888 d888b 888  .d88b.         "Y888b.   88888b.   .d88b.  888d888 888888     888888 888d888 
    888d88888b888 d8P  Y8b           "Y88b. 888 "88b d88""88b 888P"   888        888    888P"   
    88888P Y88888 88888888 888888      "888 888  888 888  888 888     888        888    888         
    8888P   Y8888 Y8b.           Y88b  d88P 888 d88P Y88..88P 888     Y88b.  d8b 888    888     
    888P     Y888  "Y8888         "Y8888P"  88888P"   "Y88P"  888      "Y888 Y8P 888    888     
                                            888                                                     
                                            888                                                     
                                            888                                                     
-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description"content="" />
        <meta name="keywords" content="" />
        <meta name="google-site-verification" content="SeofOTfUyHE48_yX-s-Q2BUdqWuTiXZiX9fSkdGgZ9w" />
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
        <meta http-equip="cache-control" content="no-cache">


        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
           {% stylesheets
                '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/less/responsive.less'
                'bundles/myutils/js/select2/select2.css'
                'bundles/myutils/js/tagsinput/bootstrap-tagsinput.css'
                'bundles/myutils/js/datetimepicker/jquery.datetimepicker.css'
                'bundles/myutils/js/checkboxlist/ui.dropdownchecklist.standalone.css'
                'bundles/myutils/templates/footer/css/footer-distributed-with-contact-form.css'   
                'bundles/acmetwig/css/acme-bootstrap.css'
                'bundles/acmetwig/css/default.css'
                'bundles/wssports/css/font-icons/style.css'
                'bundles/wsstyle/css/style.css'
                filter="cssrewrite"             
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}  
        {% endblock %} 

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Viga">
        <!--<link rel="icon" type="image/x-icon" href="{{ asset('bundles/wsstyle/img/wesport.ico') }}" />-->
        <link rel="icon" type="image/png" href="{{ asset('bundles/wsstyle/img/LOGO.gif') }}" />
    
    </head>


    <body>

        {# NAVBAR #}

        {% block navbar %}
            
            {% include '::menu.html.twig' %}

        {% endblock %}


        <div class="container-fluid mainContainer">
            
            {% block body %}
            {% endblock %}

        </div>

        {% block footer %}

            {% include '::footer.html.twig' %}

        {% endblock %}

        {% block javascripts %}
            {% javascripts
                '../vendor/jquery/jquery/jquery-1.9.1.min.js'
                '../vendor/twitter/bootstrap/js/bootstrap-dropdown.js'
                '../vendor/twitter/bootstrap/js/bootstrap-tooltip.js'
                '../app/Resources/public/js/*.js'
                '@MyUtilsBundle/Resources/public/js/checkboxlist/jquery-ui.min.js'
                '@MyUtilsBundle/Resources/public/js/checkboxlist/ui.dropdownchecklist-1.4-min.js'
                '@MyUtilsBundle/Resources/public/js/php_functions.js'
                '@MyUtilsBundle/Resources/public/js/typeahead.js/handlebars-v2.0.0.js'
                '@MyUtilsBundle/Resources/public/js/typeahead.js/typeahead.bundle.js'
                '@MyUtilsBundle/Resources/public/js/select2/select2.min.js'
                '@MyUtilsBundle/Resources/public/js/select2/locale/select2_locale_fr.js'
                '@MyUtilsBundle/Resources/public/js/tagsinput/bootstrap-tagsinput.js'
                '@MyUtilsBundle/Resources/public/js/datetimepicker/jquery.datetimepicker.js'
                '@MyUtilsBundle/Resources/public/js/timeago/jquery.timeago.js'
                '@MyUtilsBundle/Resources/public/js/utils.js'
                '@MyUserBundle/Resources/public/js/*.js'
                '@WsEventsBundle/Resources/public/js/*.js'
                '@WsSportsBundle/Resources/public/js/*.js'
                '@MyWorldBundle/Resources/public/js/*.js'

            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}


        <script type="text/javascript">
            $(document).ready(function() {
                {% block document_ready %}{% endblock %}
            });
        </script>
    </body>
</html>
