{# list of icons #}
{% set icons = {'success':'checkmark','info':'info','warning':'spam','error':'blocked','danger':'blocked'} %}

<div class="flash">
	{% for type,messages in notifications %}
	    {% for message in messages %}
	        <div class="ws-alert alert-{{ type }}">
	        	<span class="flash-icon"><span class="ws-icon-{{ icons[type] }}"></span></span>
	            <p>{{ message }}</p>
	            <button class="close" data-dismiss="alert"><span class="ws-icon-close"></span></button>
	        </div>
	    {% endfor %}
	{% endfor %}	
</div>