{% block form_row %}
<div class="field_row field_{{ name }}">
	
        {% if icon is defined %}
        	   <i class="icon {{ icon }}"></i>
        {% endif %}    

    {{ form_widget(form) }}
    {{ form_errors(form) }}
</div>
{% endblock form_row %}