{% extends "::layout_centered.html.twig" %}

{% block page_content %}

	<div class="page_content">
		<div class="white-sheet connexion">
			<div class="head-sheet">
				<h1 class="title-sheet">
					Réinitialiser mon mot de passe
				</h1>
			</div>
		{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
		</div>		
	</div>
{% endblock page_content %}
