{% extends "::layout_centered.html.twig" %}

{% block page_content %}
	<div class="head-sheet">
		<h1 class="title-sheet">
			Réinitialiser mon mot de passe
		</h1>
	</div>
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock page_content %}
