<tr>
	<td>
		Toutes les annonces de <a href="{{ alert.search.organizer|link2user }}">{{ alert.search.organizer.username|capitalize }}</a>
	</td>
	<td class='cell-action'>
		<a class="btn btn-small" href="{{ path('ws_alerts_delete',{alert:alert.id}) }}">Supprimer</a>						
	</td>
</tr>