<tr class="{% if alert.active %}row-alert-active{% else %}row-alert-pending{% endif %}">
	<td class="cell-status">
		{% if alert.active %}
			<span class="ws-icon ws-icon-checkmark-circle"></span>
			En cours
		{% else %}
			<span class="ws-icon ws-icon-blocked"></span>
			En attente
		{% endif %}		
	</td>

	<td class="cell-resume">
		
		{% include 'WsEventsBundle:Alert:Blocks/text_alert_resume.html.twig' with {'alert':alert} %}
					
	</td>
	
	<td class='cell-action'>
		<a class="ws-btn btn-small" href="{{ path('ws_alerts_delete',{alert:alert.id}) }}">Supprimer</a>	

		{% if alert.active %}
			<a class="ws-btn btn-small" href="{{ path('ws_alerts_disable',{alert:alert.id}) }}">Désactiver</a>
		{% else %}
			<a class="ws-btn btn-small" href="{{ path('ws_alerts_enable',{alert:alert.id}) }}">Réactiver</a>
		{% endif %}
	</td>
</tr>