
		{# tout les jours | une fois par semaine #}
		<span><strong>{{ ('event.frequency.'~alert.frequency)|trans({},'ws_events')|capitalize }}</strong></span>		

		{# jusqu'au 14 septembre #}
		<span> jusqu'au <strong>{{ alert.dateStop|date('d/m/Y') }}</strong></span>

		{# à l'adresse email #}
		<span> à l'adresse <strong>{{ alert.email }}</strong></span>