<table cellpadding="0" cellspacing="0" border="0" width="100%" class="footer_table" style="padding:20px 10% 50px 10%; ">
	<tbody>
	<tr class="footer_content">
		<td>
			Vous voulez accéder au site ? <a href="{{ url('ws_calendar') }}">Cliquez-ici</a>. Vous avez oublié votre mot de passe ? <a href="{{ url('fos_user_resetting_request') }}">Cliquez-ici</a>. Vous souhaitez ne plus recevoir ces emails ? Modifier vos préférences de notifications sur <a href="{{ url('fos_user_profile_edit',{action:'mailing'}) }}">votre compte</a>.
			<p>
			Conformément à la Loi n° 78-17 du 6 janvier 1978 modifiée, dite Loi Informatique et Liberté, vous disposez en ligne d'un droit de consultation, de modification et de retrait des toutes données personnelles collectées par Jeveuxdusport.com<
			</p>        
	            		
		</td>
	</tr>	
	</tbody>
</table>