<div class="footer">
	<img src="{{ asset('bundles/wsstyle/img/fresque.jpg')}}" alt="" style="width:100%;height:20px;">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="footer_table" >
		<tbody>
		<tr class="footer_content">
			<td>
				Vous voulez accéder au site ? <a href="{{ path('ws_events_calendar') }}">Cliquez-ici</a>. Vous avez oublié votre mot de passe ? <a href="{{ path('fos_user_resetting_request') }}">Cliquez-ici</a>. Vous souhaitez ne plus recevoir ces emails ? Modifier vos préférences de notifications sur <a href="{{ path('user_profil_edit',{action:'mailing'}) }}">votre compte</a>.
				<small>
				Conformément à la Loi n° 78-17 du 6 janvier 1978 modifiée, dite Loi Informatique et Liberté, vous disposez en ligne d'un droit de consultation, de modification et de retrait des toutes données personnelles collectées par Cosporturage.fr<br />
		            		Ne pas répondre à ce mail.
		            		</small>
			</td>
		</tr>	
		</tbody>
	</table>
	
</div>