<html>
<head>
	<style type="text/css">
		a{ text-decoration: none; color:#0070FF;}
	</style>
</head>

<body style="font-family:'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="background" style="background-color:#DDD; position:relative;">
		<tbody>
		<tr> 
		<td>
			<table align="center" cellpadding="0" cellspacing="0" border="0" width="670" class="centered" style="background-color: #fff; border-left:1px solid #CCC; border-right:1px solid #CCC; position:relative;">
				<tbody>
				<tr>
				<td>
				<!-- HEADER -->
					<table cellpadding="0" cellspacing="0" border="0" width="670" class="header" style="background-color:#f2f2f2;border-bottom:1px solid #CCC;padding:10px 0;" >
					<tbody>
					<tr>
						<td class="logo_header" style="width:70px">
							<a href="http://www.jeveuxdusport.com"><img src="{{ asset('bundles/wsstyle/images/LOGO.gif', absolute=true) }}" alt="" style="width:50px; padding:0 10px;"></a>
						</td>
						{# BLOCK TITLE #}
						<td style="width:400px">
							{% block title %}
							{% endblock title %}
						</td>
						{# BLOCK USER #}
						<td style="width:200px">
							{% block user %}
							{% endblock user %}
						</td>
					</tr>
					</tbody>
					</table>
				</td>
				</tr>
				<tr>
				<td style="background-image:url({{ asset('bundles/wsstyle/images/LOGO.gif', absolute=true) }}) no-repeat; background-size:10px 100%; background-position: 0 0;">					
					<!-- CONTENT -->
					<div class="content" style="padding-top:10px;">
						{% block content %}
						{% endblock content %}						
					</div>
				</td>
				</tr>
				<tr>
				<td>
					<img src="{{ asset('bundles/wsstyle/images/fresque.jpg', absolute=true) }}" alt="" style="width:100%;height:5px;">
					<!-- FOOTER -->
					<div class="footer" style="background:#f2f2f2;  position: relative; margin-top:30px; border-top:1px solid #CCC; font-size:10px; ">
						{% block footer %}
							{% include 'WsMailerBundle:Template:footer.html.twig'  %}
						{% endblock footer %}						
					</div>
				</td>
				</tr>
				</tbody>
			</table>		
		</td>
		</tr>
		</tbody>			
	</table>
</body>
</html>

