{% extends "::layout_centered.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}



{% block page_content %}

<div class="connexion">
	<div class="white-sheet">
		<div class="head-sheet">
			<h1 class="title-sheet">CONNEXION</h1>
			{% if error %}
				{% set message = error.messageKey|trans(error.messageData, 'security') %}
				{% include 'MyFlashBundle:Notifications:one.html.twig' with {'type':'error', 'message':message, 'animated':true} %}			    
			{% elseif app.user %}
				{% include 'MyFlashBundle:Notifications:one.html.twig' with {'type':'success', 'message': "Vous êtes connecté !", 'animated':false } %}
			{% endif  %}
		</div>

		{% include "MyUserBundle:Security:login_form.html.twig"  %}

		<form class="form-wp form-facebook">
			<p class="intro">Ou en 1 clic avec Facebook!</p>
			<p class="btn-facebook">
				<a rel="nofollow" href="{{ url('hwi_oauth_connect') }}" target="_self"><img src="{{ asset('bundles/wsstyle/img/register_with_facebook.png') }}" alt="S'incrire avec Facebook"/></a>										
			</p>
		</form>
	</div>
</div>	

{% endblock page_content %}
