{% extends 'WsMailerBundle:Template:personal.html.twig' %}

{% block title %}
    <strong>Bonjour, {{ event.organizer.username }}</strong><br />
    Comment ça va ?
{% endblock title %}

{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" class="content" style="background-color:#FFF;  position: relative; width:100%; padding:0 10%;">
        <tbody>
            <tr height="50">
                <td>                    
                    Y'a pas eu grand monde à ton activité ?
                </td>
            </tr>
            <tr>
                <td>
                    <small>Récapitulatif:</small>
                    {# BLOCK_EVENT #}
                    {% include 'WsMailerBundle:Template:block_event.html.twig' with {'event':event}  %}                   
                </td>
            </tr>  
            <tr>
                <td>
                    Rassure toi, ça sera mieux la prochaine fois. Essaye la semaine prochaine, ou à un horaire différent ! <br>
                    Et puis tu sais, Jeveuxdusport.com est encore jeune, et tout le monde n'est pas au courant que y'a des activités super dessus! ;)
                </td>
            </tr>      
        </tbody>
    </table>
{% endblock content %}