{% extends 'WsMailerBundle:Template:personal.html.twig' %}

{% block title %}
    <strong>Bonjour,</strong><br />
    Hélas une activité a été annulé...
{% endblock title %}

{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" class="content" style="background-color:#FFF;  position: relative; width:100%; padding:0 10%;">
        <tbody>
            <tr height="50">
                <td>                    
                    L'organisateur a décidé d'annuler cet événement:
                </td>
            </tr>
            <tr height="50">
                <td>
                    {# BLOCK_EVENT #}
                    {% include 'WsMailerBundle:Template:block_event.html.twig' with {'event':event}  %}                   
                </td>
            </tr> 
            <tr>
                <td>
                    N'hésitez pas à regarder <a href="{{ path('ws_calendar') }}">le calendrier</a>, peut être qu'une autre vous plaiera :)
                </td>
            </tr>       
        </tbody>
    </table>
{% endblock content %}