{% extends 'WsMailerBundle:Template:personal.html.twig' %}

{% block title %}
    <strong>{% if alert.user is not null %} {{ alert.user.username|capitalize }}, {% else %} Bonjour,{% endif %}</strong><br />
    
    {% if events|length > 1 %}
        {{ events|length }} activités pourrait vous intéresser !
    {% else %}
        1 activité pourrait vous intéresser !
    {% endif %}

{% endblock title %}

{% block content %}
    {% set nb_displayed = 5 %}
    <table cellpadding="0" cellspacing="0" border="0" class="content" style="background-color:#FFF;  position: relative; width:100%; padding:0 10%;">
        <tbody>
            {% for event in events|slice(0,nb_displayed) %}
            <tr height="50" style="margin-top:10px;margin-bottom:10px;">
                
                <td>
                    {# BLOCK_EVENT #}
                    {% include 'WsMailerBundle:Template:block_event.html.twig' with {'event':event}  %}                   
                </td>
            </tr>
            {% endfor %}
            
            {% if events|length > nb_displayed %}
            <tr>
                <td>
                    <strong>... plus {{ events|length - nb_displayed }} autres</strong> qui sont visibles sur coSporturage 
                        <a href="{{ url('ws_calendar',{
                                                                date:'now',
                                                                city: url_params.city,
                                                                sports: url_params.sports,
                                                                type: url_params.type,
                                                                nbdays: url_params.nbdays,
                                                                time: url_params.time,
                                                                price: url_params.price,
                                                                level: url_params.level,
                                                                organizer: url_params.organizer
                                                            }) }}">
                        en cliquant ici</a>
                </td>
            </tr>
            {% endif %}
            
            <tr>
                <td>
                    <strong>Rappel de l'alerte: </strong>
                    <p>
                        {% include 'WsEventsBundle:Alert:Blocks/tx_resume.html.twig' with {'alert':alert} %}         
                    </p>
                    <p>
                        {% include 'WsEventsBundle:Alert:Blocks/tx_frequency.html.twig' with {'alert':alert} %}         
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}