{% extends 'WsMailerBundle:Template:personal.html.twig' %}

{% block title %}
    <strong>{% if alert.user is not null %} Bonjour {{ alert.user.username|capitalize }}, {% else %} Bonjour,{% endif %}</strong><br />
    
    Vos alertes sont prêtes !

{% endblock title %}

{% block content %}
    
    <table cellpadding="0" cellspacing="0" border="0" class="content" style="background-color:#FFF;  position: relative; width:100%; padding:0 10%;">
        <tbody>
            <tr height="50" style="margin-top:10px;margin-bottom:10px;">
                <td>
                    <style type="text/css">
                        .block_event { background-color: #FFF2DA; width:100%; padding:10px; border:1px solid #AAA; }
                    </style>
                    <table cellpadding="0" cellspacing="0" border="0" class="block_event" >
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Vous vous êtes abonné pour :</strong>
                                    <p>
                                        {% include 'WsEventsBundle:Alert:Blocks/tx_resume.html.twig' with {'alert':alert} %}         
                                    </p>
                                    <p>
                                        Vous recevrez ces alertes {% include 'WsEventsBundle:Alert:Blocks/tx_frequency.html.twig' with {'alert':alert} %}         
                                    </p>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>              
                </td>
            </tr>            

        </tbody>
    </table>
{% endblock content %}