.tt-dropdown-menu {
  margin-left: -30px;
  margin-top: 20px;
  padding: 8px 0;
  text-align: left;
  background-color: #DDD;
  border-bottom-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  z-index: 2000;
}
.tt-suggestion {
  padding: 8px 20px;
}
.tt-name {
  font-weight: bold;
  color: #EDEEF0;
  font-size: 16px;
}
.tt-sub {
  font-style: italic;
  color: #999;
}
.tt-id {
  color: #AAA;
  display: none;
}
.tt-suggestion.tt-is-under-cursor {
  background-color: #0097cf;
}
.tt-suggestion.tt-is-under-cursor p {
  color: white;
}
.row-3-select-box select {
  float: left;
  width: 29%;
  margin-right: 4%;
}
.row-3-select-box select:first-child {
  width: 24%;
}
.row-3-select-box select:last-child {
  margin-right: 0%;
}
